div(class="rr-menu-slide")
    div(class="rr-menu-side")
        ul(class="rr-menu-side__list")
            li(class="rr-menu-side__list--item js--category")
                p(class="rr-category-name") Pele
                ul(class="rr-sub-category__list" )
                    li(class="rr-sub-category__list--item rr-desktop")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item rr-mobile js--category js--category--close")
                        h3 Olhos
                    li(class="rr-sub-category__list--item rr-mobile")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item js--category" )
                p(class="rr-category-name") Olhos
                ul(class="rr-sub-category__list" )
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item is--mobile")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item js--category" )
                p(class="rr-category-name") Sobrancelha
                ul(class="rr-sub-category__list")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item js--category")
                p(class="rr-category-name") Boca
                ul(class="rr-sub-category__list")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item js--category")
                p(class="rr-category-name") Acessórios
                ul(class="rr-sub-category__list")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item js--category")
                p(class="rr-category-name") Unhas
                ul(class="rr-sub-category__list")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item js--category")
                p(class="rr-category-name") Promo
                ul(class="rr-sub-category__list")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item js--category")
                p(class="rr-category-name") Novidade
                ul(class="rr-sub-category__list")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item js--category")
                p(class="rr-category-name") Mais Vendidos
                 ul(class="rr-sub-category__list")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
        ul(class="rr-menu-side__users")
            li(class="rr-menu-side__users--item")
                a(href="") Minha Conta
                a(href="") Meus Pedidos
                a(href="") Ajuda