div(class="rr-menu-slide")
    div(class="rr-menu-side")
        ul(class="rr-menu-side__list")
            li(class="rr-menu-side__list--item" data-category="rosto")
                p(class="rr-category-name") Pele/Rosto
                ul(class="rr-sub-category__list"  data-category="rosto")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item"  data-category="olhos")
                p(class="rr-category-name") Olhos
                ul(class="rr-sub-category__list"  data-category="olhos")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item"  data-category="sobracelha")
                p(class="rr-category-name") Sobrancelha
                ul(class="rr-sub-category__list" data-category="sobracelha")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item" data-category="boca")
                p(class="rr-category-name") Boca
                ul(class="rr-sub-category__list" data-category="boca")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item" data-category="acessorios")
                p(class="rr-category-name") Acessórios
                ul(class="rr-sub-category__list" data-category="acessorios")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item" data-category="unhas")
                p(class="rr-category-name") Unhas
                ul(class="rr-sub-category__list" data-category="unhas")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item" data-category="promo")
                p(class="rr-category-name") Promo
                ul(class="rr-sub-category__list" data-category="promo")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item" data-category="novidade")
                p(class="rr-category-name") Novidade
                ul(class="rr-sub-category__list" data-category="novidade")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
            li(class="rr-menu-side__list--item" data-category="best")
                p(class="rr-category-name") Mais Vendidos
                 ul(class="rr-sub-category__list" data-category="best")
                    li(class="rr-sub-category__list--item")
                        a(href="") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="") Cílios
                    li(class="rr-sub-category__list--item")
                        a(href="") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="") Mais Vendidos de Olhos
        ul(class="rr-menu-side__users")
            li(class="rr-menu-side__users--item")
                a(href="") Minha Conta
                a(href="") Meus Pedidos
                a(href="") Ajuda