div(class="rr-menu-slide")
    div(class="rr-menu-side")
        ul(class="rr-menu-side__list")
            li(class="rr-menu-side__list--item js--category")
                p(class="rr-category-name") Pele
                ul(class="rr-sub-category__list" )
                    li(class="rr-sub-category__list--item rr-desktop")
                        a(href="/pele") Ver tudo de Pele
                    li(class="rr-sub-category__list--item rr-mobile js--category js--category--close")
                        h3 Pele
                    li(class="rr-sub-category__list--item rr-mobile")
                        a(href="/pele") Ver tudo de Pele
                    li(class="rr-sub-category__list--item")
                        a(href="/pele/primer") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="/pele/base") Base
                    li(class="rr-sub-category__list--item")
                        a(href="/pele/corretivo") Corretivo
                    li(class="rr-sub-category__list--item")
                        a(href="/pele/contorno") Contorno
                    li(class="rr-sub-category__list--item")
                        a(href="/pele/po") Pó
                    li(class="rr-sub-category__list--item")
                        a(href="/pele/blush") Blush
                    li(class="rr-sub-category__list--item")
                        a(href="/pele/iluminador") Iluminador
                    li(class="rr-sub-category__list--item")
                        a(href="/pele/cuidados") Cuidados
                    li(class="rr-sub-category__list--item")
                        a(href="/pele") Ver todos

            li(class="rr-menu-side__list--item js--category")
                p(class="rr-category-name") Olhos
                ul(class="rr-sub-category__list" )
                    li(class="rr-sub-category__list--item rr-desktop")
                        a(href="/olhos") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item rr-mobile js--category js--category--close")
                        h3 Olhos
                    li(class="rr-sub-category__list--item rr-mobile")
                        a(href="/olhos") Ver tudo de Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="/olhos/primer") Primer
                    li(class="rr-sub-category__list--item")
                        a(href="/olhos/sombra") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="/olhos/pigmento") Pigmento
                    li(class="rr-sub-category__list--item")
                        a(href="/olhos/glitter") Glitter
                    li(class="rr-sub-category__list--item")
                        a(href="/olhos/lapis") Lapis
                    li(class="rr-sub-category__list--item")
                        a(href="/olhos/delineador") Delineador
                    li(class="rr-sub-category__list--item")
                        a(href="/olhos/cilios") Cilios
                    li(class="rr-sub-category__list--item")
                        a(href="/olhos/paletas-e-kits") Paletas e Kits
                    li(class="rr-sub-category__list--item")
                        a(href="/olhos") Ver todos

            li(class="rr-menu-side__list--item js--category")
                p(class="rr-category-name") Sobrancelha
                ul(class="rr-sub-category__list" )
                    li(class="rr-sub-category__list--item rr-desktop")
                        a(href="/sobrancelha") Ver tudo de Sobrancelha
                    li(class="rr-sub-category__list--item rr-mobile js--category js--category--close")
                        h3 Sobrancelha
                    li(class="rr-sub-category__list--item rr-mobile")
                        a(href="/sobrancelha") Ver tudo de Sobrancelha
                    li(class="rr-sub-category__list--item")
                        a(href="/sobrancelha/lapis") Lápis
                    li(class="rr-sub-category__list--item")
                        a(href="/sobrancelha/caneta") Caneta
                    li(class="rr-sub-category__list--item")
                        a(href="/sobrancelha/sombra") Sombra
                    li(class="rr-sub-category__list--item")
                        a(href="/sobrancelha/mascara-de-sobrancelha") Máscara de sobrancelha
                    li(class="rr-sub-category__list--item")
                        a(href="/sobrancelha") Ver todos

            li(class="rr-menu-side__list--item js--category")
                p(class="rr-category-name") Boca
                ul(class="rr-sub-category__list" )
                    li(class="rr-sub-category__list--item rr-desktop")
                        a(href="/boca") Ver tudo de Boca
                    li(class="rr-sub-category__list--item rr-mobile js--category js--category--close")
                        h3 Boca
                    li(class="rr-sub-category__list--item rr-mobile")
                        a(href="/olhos") Ver tudo de Boca
                    li(class="rr-sub-category__list--item")
                        a(href="/boca/batom") Batom
                    li(class="rr-sub-category__list--item")
                        a(href="/boca/gloss") Gloss
                    li(class="rr-sub-category__list--item")
                        a(href="/lapis-de-contorno") Lápis de contorno
                    li(class="rr-sub-category__list--item")
                        a(href="/boca") Ver todos

            li(class="rr-menu-side__list--item js--category")
                p(class="rr-category-name") Acessórios
                ul(class="rr-sub-category__list" )
                    li(class="rr-sub-category__list--item rr-desktop")
                        a(href="/acessorios") Ver tudo de Acessórios
                    li(class="rr-sub-category__list--item rr-mobile js--category js--category--close")
                        h3 Acessórios
                    li(class="rr-sub-category__list--item rr-mobile")
                        a(href="/acessorios") Ver tudo de Acessórios
                    li(class="rr-sub-category__list--item")
                        a(href="/acessorios/pele") Pele
                    li(class="rr-sub-category__list--item")
                        a(href="/acessorios/olhos") Olhos
                    li(class="rr-sub-category__list--item")
                        a(href="/acessorios/sobrancelha") Sobrancelha
                    li(class="rr-sub-category__list--item")
                        a(href="/acessorios/boca") Boca
                    li(class="rr-sub-category__list--item")
                        a(href="/accessorios") Ver todos

            li(class="rr-menu-side__list--item js--category")
                p(class="rr-category-name") Unhas
                ul(class="rr-sub-category__list" )
                    li(class="rr-sub-category__list--item rr-desktop")
                        a(href="/acessorios") Ver tudo de Unhas
                    li(class="rr-sub-category__list--item rr-mobile js--category js--category--close")
                        h3 Unhas
                    li(class="rr-sub-category__list--item rr-mobile")
                        a(href="/unhas") Ver tudo de Unhas
                    li(class="rr-sub-category__list--item")
                        a(href="/unhas/esmaltes") Esmaltes
                    li(class="rr-sub-category__list--item")
                        a(href="/esmaltes/cuidados") Cuidados
                    li(class="rr-sub-category__list--item")
                        a(href="/esmaltes/cremoso") Cremoso
                    li(class="rr-sub-category__list--item")
                        a(href="/esmaltes/metalico") Metálico
                    li(class="rr-sub-category__list--item")
                        a(href="/esmaltes/fosco") Fosco
                    li(class="rr-sub-category__list--item")
                        a(href="/esmaltes/perolado") Perolado
                    li(class="rr-sub-category__list--item")
                        a(href="/esmaltes") Ver todos 
                        
            li(class="rr-menu-side__list--item ")
                p(class="rr-category-name") 
                    a(href="#") Mais Vendidos     
        ul(class="rr-menu-side__users")
            li(class="rr-menu-side__users--item")
                a(href="") Minha Conta
                a(href="") Meus Pedidos
                a(href="") Ajuda