nav(class="rr-header__nav")
    ul(class="rr-header__nav___list")
        li(class="rr-header__nav___list--item js--menu") 
            div(class="rr-header__nav___list--item---menu")
            span Menu 
            include ./_menu.pug
        li(class="rr-header__nav___list--item")
            a(href="#") Novidades
        li(class="rr-header__nav___list--item")
            a(href="#") Mais Vendidos
        li(class="rr-header__nav___list--item")
            a(href="#") Pele/Rosto
        li(class="rr-header__nav___list--item")
            a(href="#") Olhos
        li(class="rr-header__nav___list--item")
            a(href="#") Boca
        li(class="rr-header__nav___list--item")
            a(href="#") Promo
    div(class="rr-header__nav--search")
        <vtex.cmc:fullTextSearchBox />