nav(class="rr-header__nav")
    ul(class="rr-header__nav___list")
        li(class="rr-header__nav___list--item js--menu") 
            div(class="rr-header__nav___list--item---menu")
            span Menu 
            include ./_menu.pug

    div(class="rr-header__nav--search")
        <vtex.cmc:fullTextSearchBox />