div(class="rr-header__top")
    div(class="rr-header__top__group")
        span(class="rr-header__top__group--accessibility") Acessebilidade
        span(class="rr-header__top__group--helper") Ajuda
    div(class="rr-header__top--logo")   
        include ../svgs/_logo-header.pug
    div(class="rr-header__top__user")
        div(class="rr-header__top__user--search")
            img(src="/arquivos/iconsearchheader.png", alt="Busca")
        div(class="rr-header__top__user--account")
            a(href="#")
                img(src="/arquivos/accountheader.png", alt="Minha Conta")
        div(class="rr-header__top__user--minicart js--minicart")   
            img(src="/arquivos/minicartheader.png", alt="Carrinho de compras")