$color-body-bg: #ffff;
$color-black: #000;
$color-white: #fff;
$color-body-bg: $color-white;



//color grey

$color-grey-1: #707070;

//color black

$color-black-2:  #1b1b1b;







// Color PINK

$color-pink: #E55E5E;