$color-body-bg: #ffff;
$color-black: #000;
$color-white: #fff;
$color-body-bg: $color-white;



//color grey

$color-grey-1: #707070;
$color-grey-2: #EDEDED;
$color-grey-3: #5A5A5A;

$color-grey-light: #F7F7F7;
$color-grey-black: #E6E6E6;
//color black

$color-black-2:  #1b1b1b;
$color-black-3: #232323;







// Color PINK

$color-pink: #E55E5E;