$color-body-bg: #ffff;
$color-black: #000;
$color-white: #fff;
$color-body-bg: $color-white;



//color grey

$color-grey-1: #707070;
$color-grey-2: #EDEDED;
$color-grey-3: #5A5A5A;
$color-grey-4: #BEBEBE;


$color-grey-light: #F7F7F7;
$color-grey-light-2: #DDDDDD;
$color-grey-light-3: #C5C5C5;
$color-grey-light-4: #F4F4F4;
$color-grey-light-5: #e2dcdc;

$color-grey-black: #E6E6E6;
$color-black-2:  #1b1b1b;
$color-black-3: #232323;




// color purple 
$color-purple: #3F303D;


// Color PINK

$color-pink: #E55E5E;