@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');
@font-face {
    font-family: 'bebas_neueregular';
    src: url('/arquivos/bebas-neue-webfont.woff2.css') format('woff2'),
         url('/arquivos/bebas-neue-webfont.woff.css') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

