
    {
        "parser": "babel-eslint",
        "parserOptions": {
          "ecmaVersion": 6,
          "sourceType": "module",
          "ecmaFeatures": {
            "impliedStrict": true
          }
        },
        "env": {
          "browser": true,
          "commonjs": true,
          "embertest": true,
          "es6": true,
          "node": false
        },
        "extends": "google",
        "rules": {
          "max-len": "off",
          "require-jsdoc": "off",
          "valid-jsdoc": "off",
          "indent": ["error", 2]
        }
      }