@import "./components";
@import "./main";
@import "./brandcrumb";
@import "./wrapper";
@import "./info";
@import "./price-thumb";
@import "./image";
@import "./thumb";
@import "./out-stock";
@import "./specification";
@import "./buy-scroll";
@import "./buy-together";
@import "./collections";