.rr-product{
    &-center{
        @include rem(width, 465px);
    }
    &__image{
        cursor: pointer;
        > .slick-dots{
            @extend %flex-centered;
            @include rem(top, -35px);
            position: relative;
            > li{ 
                width: 25px;
                height: 4px;
                background-color: black;
                margin: 0 6px;
                transition: all .3s ease-in-out;
                &.slick-active{
                    width: 45px;
                    background-color: $color-pink;
                }
                > button{
                    font-size: 0;
                }
            }
        }
    }
}