.rr-product-title{
    @include rem(font-size, 64px);
    @include rem(letter-spacing, 1px);
    font-weight: bold;
    font-family: $font-bebas;
    text-transform: uppercase;
    @include breakpoint('sm'){
        font-size: 38px;
    }
}