.rr-product{
    &-center{
        @include rem(width, 465px);
        position: relative;
        @include breakpoint('sm'){
            width: 375px;
            height: 340px;
        }
    }
    &__image-zoom{
        opacity: 0;
        visibility: hidden;
        position: fixed !important;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 5020;
        background-color: $color-white;
        &.is--active{
            opacity: 1;
            visibility: visible;
            
        }
    }
    &__image{
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        position: absolute !important;
        left: 0;
        top: 0;
        @include rem(width, 465px);
        @include breakpoint('sm'){
            width: 100%;
        }
        &.is--active{ 
            opacity: 1;
            visibility: visible;
        }
    }
}