.rr-product{
    &-left{
        @include rem(font-size, 14px);
        color: $color-black-2;
        @include breakpoint('sm'){
            margin-top: 60px;
        }
      
    }
    &__content{
        @include breakpoint('sm'){
            position: absolute;
            top: 60%;
            width: 285px;
        }
    }
    &__name{
        font-family: $font-bebas;
        font-weight: bold;
        @include rem(font-size, 64px);
        @include rem(line-height, 60px);
        @include rem(letter-spacing, 4px);
        @include rem(height, 180px);
        @include breakpoint('sm'){
            height: auto;
            font-size: 30px;
            letter-spacing: 0;
            line-height: normal;
        }
    }
    &__code{
        color: $color-purple;
        @include rem(margin-bottom, 20px);
        display: inline-block;
        @include breakpoint('sm'){
            transform: translateY(33px)
        }
    }

    &__rating{
        @include rem(margin-bottom, 20px);
        display: flex;
        align-items: center;
        @include breakpoint('sm'){
            justify-content: space-between;
            flex-direction: row-reverse;
        }
        .yv-bootstrap{
            @include rem(margin-right, 15px);
        }
        > a{
            text-decoration: underline;
            text-align: right;
            @include breakpoint('sm'){
                display: none;
            }
        }
    }
    &-description{
        border-top: 1px solid $color-grey-light-2;
        border-bottom: 1px solid $color-grey-light-2;
        @include rem(padding-top, 15px);
        @include rem(margin-bottom, 20px);
        @include rem(padding-bottom, 15px);
        @include breakpoint('sm'){
            border-top: none;
            padding-bottom: 45px;
        }
        &__title{
            font-weight: bold;
            text-transform: uppercase;
            display: inline-block;
            @include rem(margin-bottom, 15px);
        }
        > a {
            text-decoration: underline;
        }
    }
    &__all-character{
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 1px solid $color-grey-light-2;
        @include rem(padding-bottom, 20px);
        position: relative;
        cursor: pointer;
        @include breakpoint('sm'){
            border-bottom: none;
        }
        &::after,
        &::before{
            content: "";
            @include rem(width, 12px);
            @include rem(height, 3px);
            @include rem(right, 20px);
            @include rem(top, 7px);
            background: $color-black;
            position: absolute; 
        }
        &::after{
            transform: rotate(90deg);
        }
    }
}