.rr-product{
    &-right{
        display: flex;
        flex-direction: column;
        @include breakpoint('sm'){
            position: absolute;
            bottom: -90px;
        }
    }
    &__price{
        @extend %flex-column;
        justify-content: center;
        color: $color-black-2;
        @include rem(height, 80px);
        // @include breakpoint('sm'){
        //     height: 50px;
        // }
        &--best-price{
            @include rem(font-size, 30px);
            font-weight: bold;
        }
        &.is--remove{
            display: none;
        }
    }
    &__buy{
        @extend %flex-column;
        @include rem(height, 100px);
        &--btn{
            width: 100%;
            @include rem(font-size, 18px);
            @include rem(padding, 14px );
            @include rem(letter-spacing, 2px);
            @include rem(margin-bottom, 10px);
            background-color: $color-pink; 
            font-weight: bold;
            color: $color-white;
            text-transform: uppercase;
            @include breakpoint('sm'){
                display: none;
            }
        }
        &--text{
            font-weight: bold;
            color: $color-pink;
            @include rem(font-size, 14px);
            text-transform: uppercase;
        }
        > a {
            color: $color-black-2;
            @include rem(font-size, 14px);
            text-decoration: underline;
        }
        &.is--remove{
            display: none;
        }
    }
}