.rr-product__wrapper{
    @extend %flex-spaced;
    > .rr-product-left,
    > .rr-product-center,
    > .rr-product-right{
        flex: 1;
        border: 1px solid green;
        height: 480px;
    }
    > .rr-product-center{
        @include rem(margin, 0 40px);
    }
}