.rr-product{
    &__thumb{
        @extend %flex-column;
        @include rem(margin-bottom, 40px);
        justify-content: center;
        @include breakpoint('sm'){
            position: fixed;
            left: 0;
            top: 50%;
            z-index: 5020;
            transform: translate(-150%, -50%);
            transition: all .3s ease-in-out;
            &.is--active{
                transform: translate(0, -50%);
            }
        }
        > p {
            font-weight: bold;
            @include rem(font-size, 14px);
            @include rem(margin-bottom, 25px);
            display: none;
            @include breakpoint('sm'){
                display: none;
            }
            > span{
                font-weight: normal;
                @include rem(font-size, 12px);
            }
        }
        &-container{
            overflow-y: scroll;
            @include breakpoint('lg'){
                display: flex;
                flex-wrap: wrap;
                @include rem(max-height, 180px);
                &::-webkit-scrollbar{
                    width: 5px;
                    background-color: $color-grey-light;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: $color-grey-light-7;
                    border-radius: 5px;
                }
            }
            @include breakpoint('sm'){
                flex-direction: column;
                max-height: 500px;
            }
        }
        &--box{
            @include rem(width, 36.85px);
            @include rem(height, 36.85px);
            @include rem(margin-right, 12px);
            @include rem(margin-top, 10px);
            position: relative;
            cursor: pointer;
            font-size: 0;
            @include breakpoint('sm'){
                width: 300px;
                height: 60px;
                margin-right: 0;
                margin-top: 0;
                font-size: 11px;
                color: $color-white;
                align-items: flex-end;
                justify-content: flex-end;
                display: flex;
                > i {
                    margin-bottom: 10px;
                    margin-right: 10px;
                }
            }
            &.out-of-stock{
                &::before,
                &::after{
                    content: "";
                    @include absolute-centered;
                }
                &::before{
                    @include rem(width, 16.56px);
                    @include rem(height, 16.56px);
                    border: 2px solid $color-white;
                    border-radius: 50%;
                }
                &::after{
                    @include rem(width, 14px);
                    @include rem(height, 2px);
                    @include rem(top, 18px);
                    @include rem(left, 11px);
                    background-color: $color-white;
                    transform: rotate(-230deg);
                    @include breakpoint('sm'){
                        top: 29px;
                        left: 48%;
                    }
                }
            }
        }
    }
}