@include breakpoint('sm'){
    .rr-thumb-wrapper{
        position: absolute;
        top: 50%;
        left: 0;
        background: $color-black;
        width: 68px;
        height: 110px;
        z-index: 5010;
        transform: translateY(-100%);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;
        &__first{
            width: 55px;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &--text{
                font-size: 17px;
                font-family: $font-bebas;
                text-transform: uppercase;
                color: $color-white;
            }
        }
        &__colors{
            width: 68px;
            height: 100%;
            max-height: 46px;
            position: absolute;
            top: 100%;
            display: none;
            span{
                width: 100%;
                height: 5px;
                display: flex;
                &:first-of-type{
                    height: 27px;
                }
            }
        }
    }
}