.rr-product{
    &-main{
        max-width: 1270px;
        margin-left: auto;
        margin-right: auto;
    }
    @extend %flex-spaced;
    &-left,
    &-center,
    &-right{
        height: 480px;
        flex-wrap: wrap;
    }
}