.rr-product{
    @extend %flex-spaced;
    &-left,
    &-center,
    &-right{
        height: 480px;
        flex-wrap: wrap;
    }
    &-center{
    }
    &-right{
        width: 353px;
        border: 1px solid green;
    }
}