.rr-product{
    &-center{
        @include rem(width, 465px);
        position: relative;
    }
    &__image-zoom{
        display: none !important;
    }
    &__image{
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        position: absolute !important;
        left: 0;
        top: 0;
        @include rem(width, 465px);
        &.is--active{ 
            opacity: 1;
            visibility: visible;
        }
        > .slick-dots{
            @extend %flex-centered;
            @include rem(top, -35px);
            position: relative;
            > li{ 
                width: 25px;
                height: 4px;
                background-color: black;
                margin: 0 6px;
                transition: all .3s ease-in-out;
                &.slick-active{
                    width: 45px;
                    background-color: $color-pink;
                }
                > button{
                    font-size: 0;
                }
            }
        }
    }
}