
div(class="rr-copyright")
    small(class="rr-copyright__text") Vult - INTERBELLE COMÉRCIO DE PRODUTOS DE BELEZA LTDA. CNPJ/MF 11.137.51/0406-41
    img(class="rr-lazy" data-lazy="/arquivos/logo-grupo-boticario.png", alt="Grupo Boticario")/