
div(class="rr-copyright")
    p(class="rr-copyright__text") A Vult é uma marca de cosméticos nacional presente em pontos de venda de todo Brasil. Referência no mercado de beleza, a Vult é sucesso no segmento de cosméticos. Hoje participamos no mercado linhas completas de maquiagens, acessórios e esmaltes, todos eles elaborados sob os mais altos padrões de qualidade e normas regulamentares de segurança. Nossa missão é transformar e valorizar a beleza e o bem-estar das pessoas, conforme suas características e preferências, oferecendo aos seus consumidores produtos sofisticados, acessíveis e inovadores.
    small(class="rr-copyright__text") Vult - INTERBELLE COMÉRCIO DE PRODUTOS DE BELEZA LTDA. CNPJ/MF 11.137.51/0406-41
    a(href="http://www.grupoboticario.com.br/pt/Paginas/Inicial.aspx" target="_blank")
        img(class="rr-lazy" data-lazy="/arquivos/logo-grupo-boticario.png", alt="Grupo Boticario")/