footer(class="rr-footer")
    <vtex.cmc:vultminicart/>
    <vtex.cmc:PopupNews/> 
    div(class="rr-footer__social")
        img(src="/arquivos/vultlogofooter.png", alt="Vult Cosméticos")/
        ul(class="rr-footer__social___list")
            li(class="rr-footer__social___list--item")
                a(href="https://www.facebook.com/vultcosmetica" rel="noopener" target="_blank")
                    img(class="rr-lazy" data-lazy="/arquivos/facebookicon.png", alt="Facebook")/
            li(class="rr-footer__social___list--item")
                a(href="https://twitter.com/vultcosmetica" rel="noopener" target="_blank")
                    img(class="rr-lazy" data-lazy="/arquivos/twittericon.png", alt="Twitter")/
            li(class="rr-footer__social___list--item")
                a(href="https://www.youtube.com/user/VultCosmetica/videos" target="_blank")
                    img(class="rr-lazy" data-lazy="/arquivos/youtubeicon.png", alt="Youtube")/
            li(class="rr-footer__social___list--item")
                a(href="https://www.instagram.com/vult" rel="noopener" target="_blank")
                    img(class="rr-lazy" data-lazy="/arquivos/instagramicon.png", alt="Instagram")/
    div(class="rr-footer__wrapper")
        h3(class="rr-footer__wrapper--title") Institucional
        ul(class="rr-footer__list")
            li(class="rr-footer__list--item")
                a(href="/institucional/quem-somos") Sobre nós
            li(class="rr-footer__list--item")
                a(href="/institucional/atendimento") Atendimento
            li(class="rr-footer__list--item")
                a(href="/institucional/politica-de-troca") Política de troca
            li(class="rr-footer__list--item")
                a(href="/institucional/politica-de-privacidade") Política de privacidade
            li(class="rr-footer__list--item")
                a(href="/institucional/parcelamento") Meios de pagamento
    div(class="rr-footer__wrapper")
        h3(class="rr-footer__wrapper--title") Atendimento
        ul(class="rr-footer__list") 
            li(class="rr-footer__list--item")
                a(href="/institucional/atendimento") Fale conosco
            li(class="rr-footer__list--item")
                span 0800 773 3450 
                    br/ Seg. a sex. das 9h ás 18h
    div(class="rr-footer__wrapper")
        h3(class="rr-footer__wrapper--title rr-payment") Pague com
        ul
            li
                img(class="rr-desktop rr-lazy" data-lazy="/arquivos/bandeiraspagamentodesktop.png", alt="Visa, Mastercard, American Express, ELO e Boleto bancário")/
                img(class="rr-mobile rr-lazy" data-lazy="/arquivos/bandeiraspagamentomobile.png", alt="Visa, Mastercard, American Express, ELO e Boleto bancário")/
    div(class="rr-footer__wrapper")
        h3(class="rr-footer__wrapper--title rr-security") Segurança
        ul(class="rr-footer__security")
            li(class="rr-footer__security--item")
                a(href="https://selo.clearsale.com.br/Loja/ExibirDetalhesLoja/3ac3b97c-ac23-451b-b5d6-ee5ad9f96476" rel="noopener" target="_blank")
                    img(src="https://selo.clearsale.com.br/Imagem/3ac3b97c-ac23-451b-b5d6-ee5ad9f96476" width="80px" alt="Selo Clearsale")/
            li(class="rr-footer__security--item")
                a(href="https://secure.vtex.com/?an=vult" rel="noopener" target="_blank")
                    img(src="/arquivos/pci-VULT.png" width="60px")/
            li(class="rr-footer__security--item")
                a(href="https://www.lojaconfiavel.com/vult" rel="noopener" target="_blank")
                    img(src="https://service.yourviews.com.br/Image/44f7277f-9dfa-458d-b9d7-f2db830332fe/Footer.jpg" title="Loja Confiavel" alt="Loja Confiavel" width="50px")/
                    