footer(class="rr-footer")
    <vtex.cmc:vultminicart/>
    <vtex.cmc:PopupNews/> 
    <vtex.cmc:modalcity />
    div(class="rr-footer__social")
        img(src="/arquivos/vultlogofooter.png", alt="Vult Cosméticos")
        ul(class="rr-footer__social___list")
            li(class="rr-footer__social___list--item")
                a(href="#")
                    img(src="/arquivos/facebookicon.png", alt="Facebook")/
            li(class="rr-footer__social___list--item")
                a(href="#")
                    img(src="/arquivos/twittericon.png", alt="Twitter")/
            li(class="rr-footer__social___list--item")
                a(href="#")
                    img(src="/arquivos/youtubeicon.png", alt="Youtube")/
            li(class="rr-footer__social___list--item")
                a(href="#")
                    img(src="/arquivos/instagramicon.png", alt="Instagram")/
                    
    div(class="rr-footer__wrapper")
        h3(class="rr-footer__wrapper--title") Institucional
        ul(class="rr-footer__list")
            li(class="rr-footer__list--item")
                a(href="#") Sobre nós
            li(class="rr-footer__list--item")
                a(href="#") Onde estamos
            li(class="rr-footer__list--item")
                a(href="#") Termos e condições de uso
            li(class="rr-footer__list--item")
                a(href="#") Carga tributária
            li(class="rr-footer__list--item")
                a(href="#") Política de privacidade
            li(class="rr-footer__list--item")
                a(href="#") Segurança
    div(class="rr-footer__wrapper")
        h3(class="rr-footer__wrapper--title") Atendimento
        ul(class="rr-footer__list") 
            li(class="rr-footer__list--item")
                a(href="#") Política de troca
            li(class="rr-footer__list--item")
                a(href="#") Parcelamento
            li(class="rr-footer__list--item")
                a(href="#") Frete e entrega
            li(class="rr-footer__list--item")
                a(href="#") Fale conosco
            li(class="rr-footer__list--item")
                div(class="rr-footer__list--contact")
    div(class="rr-footer__wrapper")
        h3(class="rr-footer__wrapper--title rr-payment") Pague com
        ul
            li
                img(class="rr-desktop" src="/arquivos/bandeiraspagamentodesktop.png", alt="Visa, Mastercard, American Express, ELO e Boleto bancário")/
                img(class="rr-mobile" src="/arquivos/bandeiraspagamentomobile.png", alt="Visa, Mastercard, American Express, ELO e Boleto bancário")