div(class="rr-footer-newsletter")
    p(class="rr-footer-newsletter__title") Inscreva-se para receber todas as novidades
    form(class="rr-footer-newsletter__form js--newsletter--form")
        input(type="email" placeholder="Digite seu e-mail aqui" required)
        button(type="submit" class="js--newsletter--submit")