.rr-ajax-loader{
    display: flex;
    align-items: center;
    background: hsla(0,0%,100%,.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600;
    justify-content: center;
    z-index: 5017;
    &.is--remove{
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;

    }
    svg{
        position: absolute;
        g{
            rect,
            path{
                fill: $color-black;
            }
        }        
    }
    &-spinner{
        display: block;
        position: relative;
        z-index: 5881;
        border: 3px solid transparent;
        border-top-color: $color-black;
        border-radius: 50%;
        animation: spin 3s linear infinite;
        width: 200px;
        height: 200px;
        &::before{
            content: "";
            position: absolute;
            border: 3px solid transparent;
            border-top-color: #f9f9f9;
            border-radius: 50%;
            animation: spin 1.5s linear infinite;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
        }
        &::after{
            content: "";
            position: absolute;
            border: 3px solid transparent;
            border-radius: 50%;
            border-top-color: $color-pink;
            animation: spin 2s linear infinite;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}
