.rr-ajax-loader{
    display: flex;
    align-items: center;
    background: $color-black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600;
    justify-content: center;
    z-index: 5017;
    @include breakpoint('sm'){
        width: 100%; 
    }
    &.is--remove{
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }
    svg{
        position: absolute;
        g{
            rect,
            path{
                fill: $color-white;
            }
        }        
    }
    &-spinner{
        display: block;
        position: relative;
        z-index: 5881;
        border: 3px solid transparent;
        border-top-color: $color-white;
        border-radius: 50%;
        animation: spin 3s linear infinite;
        width: 200px;
        height: 200px;
        
        &::before{
            content: "";
            position: absolute;
            border: 3px solid transparent;
            border-top-color: $color-pink;
            border-radius: 50%;
            animation: spin 1.5s linear infinite;
            @include rem(top, 15px);
            @include rem(left, 15px);
            @include rem(right, 15px);
            @include rem(bottom, 15px);
        }
        &::after{
            content: "";
            position: absolute;
            border: 3px solid transparent;
            border-radius: 50%;
            animation: spin 2s linear infinite;
            @include rem(top, 5px);
            @include rem(left, 5px);
            @include rem(right, 5px);
            @include rem(bottom, 5px);
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}
