
@import "../settings/config-bases.scss";

/*
** GENERIC
**
*/
@import "./generic/initialize";
@import "./generic/reset";


/*
** VENDOR
**
*/
@import "./vendor/form-reset/form-reset";
@import "./vendor/slick-carousel/slick-carousel";
@import "./vendor/slick-carousel/slick-carousel-theme";
@import "./vendor/yourviews/yourViews";

/* 
** Elements
**
*/
@import "./elements/roots";

/* 
** Shelf
**
*/
@import "./shelf/shelf-bases";

/* 
** LOAD
**
*/
@import "./ajaxLoad/load";


/* 
** LazyLoad
**
*/

@import "./lazyload/lazyload.scss";