.rr-header__bottom{
    background: $color-pink;
    color: $color-white;
    font-weight: 600;
    @extend %flex-centered;
    @include rem(height, 32px);
    display: none;
    &.is--active{ 
        display: flex;
    }
    @include breakpoint('sm'){
        margin-top: 11%;
    }
    &--text{
        @include breakpoint('sm'){
            @include rem(font-size, 10px);
        }
        a{
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}