.rr-header{
    @include breakpoint('sm'){
        transform: translateY(-65px);
        &:before{
            opacity: 0;
            visibility: hidden;
        }
        .rr-header__top{
            transform: translateY(63px);
            padding: 0 15px;
            height: 58px;
            &__group{
                opacity: 0;
            }
            &--logo{
                img{
                    width: 215px;
                }
            }
            &__user{
                &--account{
                    display: none;
                }
                &--search{
                    transform: scale(1);
                    cursor: pointer;
                }
            }
        }
        .rr-header__nav{
            &___list{
                &--item{
                    opacity: 0;
                    pointer-events: none;
                    &:first-of-type{
                        opacity: 1;
                        pointer-events: auto;
                        span{
                            display: none;
                        }
                    }
                    &---menu{
                        top: 20px;
                        left: -25px;
                    }
                    .rr-menu-slide{
                        @include rem(top, 65px);
                    }
                }
            }
            &--search{
                position: fixed;
                left: 0;
                top: 100%;
                width: 100%;
                z-index: 5017;
                background: $color-white;
                border-bottom: 1px solid $color-black;
                @include rem(height, 61px);
                display: flex;
                align-items: center;
                opacity: 0;
                visibility: hidden;
                transform:  all .3s ease-in-out;
                &.is--active{
                    visibility: visible;
                    opacity: 1;
                    visibility: visible;
                }
                fieldset{
                    width: 100%;
                    .btn-buscar{
                        display: none;
                    }
                    .fulltext-search-box{
                        color: $color-black;
                        width: 100%;
                    }
                }
            }
        }
        .rr-overlay {
            @include rem(top, 65px);
        }
    }
}