.rr-header{
    @include rem(font-size, 14px);
    width: 100%;
    color: $color-white;
    background: $color-black;
    font-weight: bold;
    z-index: 5;
    position: fixed;
    transition: transform .3s ease-in-out;
    &:before{
        content: "";
        @include rem(height, 1px);
        @include rem(top, 80px);
        position: absolute; 
        width: 100%;
        background: $color-grey-1;
        opacity: 1;
        visibility: visible;
        transition: all .1s ease;
    }
    &.is--active{
        @include rem(transform, translateY(-65px));
        &:before{
            opacity: 0;
            visibility: hidden;
        }
        .rr-header__top{
            @include rem(transform, translateY(63px));
            &__group{
                opacity: 0;
            }
            &__user{
                @include breakpoint('lg'){
                    @include rem(margin-top, 10px);
                }
                &--search{
                    transform: scale(1);
                    cursor: pointer;
                }
            }
        }
        .rr-header__nav{
            &___list{
                &--item{
                    opacity: 0;
                    pointer-events: none;
                    @include breakpoint('lg'){
                        @include rem(margin-top, -10px);
                    }
                    &:first-of-type{
                        opacity: 1;
                        pointer-events: auto;
                    }
                    .rr-menu-slide{
                        @include rem(top, 65px);
                    }
                }
            }
            &--search{
                @include rem(border-bottom, 1px solid $color-black);
                @include rem(top, 145px);
                @include rem(height, 61px);
                position: fixed;
                left: 0; 
                width: 100%;
                z-index: 5017;
                background: $color-white;
                display: flex;
                align-items: center;
                opacity: 0;
                visibility: hidden;
                transform:  all .3s ease-in-out;
                &.is--active{
                    visibility: visible;
                    opacity: 1;
                }
                fieldset{
                    width: 100%;
                    .btn-buscar{
                        display: none;
                    }
                    .fulltext-search-box{
                        @include rem(max-width, 1250px);
                        @include rem(padding, 5px 0);
                        color: $color-black;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
        .rr-overlay {
            @include rem(top, 65px);
        }
    }
    &__top, 
    &__nav {
        @include rem(max-width, 1250px);
        margin: 0 auto;
    }
  
}
