.rr-header{
    @include rem(font-size, 14px);
    width: 100%;
    color: $color-white;
    background: $color-black;
    font-weight: bold;
    z-index: 5;
    position: fixed;
    transition: transform .3s ease-in-out;
    &:before{
        content: "";
        @include rem(height, 1px);
        @include rem(top, 80px);
        position: absolute; 
        width: 100%;
        background: $color-grey-1;
        opacity: 1;
        visibility: visible;
        transition: all .1s ease;

    }
    &.is--active{
        transform: translateY(-65px);
        &:before{
            opacity: 0;
            visibility: hidden;
        }
        .rr-header__top{
            transform: translateY(63px);
            &__group{
                opacity: 0;
            }
            &__user{
                @media(min-width: 1024px){
                    margin-top: 10px;
                }
                &--search{
                    transform: scale(1);
                    cursor: pointer;
                }
            }
        }
        .rr-header__nav{
            &___list{
                &--item{
                    opacity: 0;
                    pointer-events: none;
                    @media(min-width: 1024px){
                        margin-top: -10px;
                    }
                    &:first-of-type{
                        opacity: 1;
                        pointer-events: auto;
                    }
                    .rr-menu-slide{
                        @include rem(top, 65px);
                    }
                }
            }
            &--search{
                position: fixed;
                left: 0;
                @include rem(top, 145px);
                width: 100%;
                z-index: 5017;
                background: $color-white;
                border-bottom: 1px solid $color-black;
                @include rem(height, 61px);
                display: flex;
                align-items: center;
                opacity: 0;
                visibility: hidden;
                transform:  all .3s ease-in-out;
                &.is--active{
                    visibility: visible;
                    opacity: 1;
                    visibility: visible;
                }
                fieldset{
                    width: 100%;
                    .btn-buscar{
                        display: none;
                    }
                    .fulltext-search-box{
                        color: $color-black;
                        max-width: 1250px;
                        @include rem(padding, 5px 0);
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
        .rr-overlay {
            @include rem(top, 65px);
        }
    }
    &__top,
    &__nav {
        max-width: 1250px;
        margin: 0 auto;
    }
  
}
