.rr-menu-side{
    max-width: 370px;
    height: 100%;
    background:$color-black-2;
    &__list{
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include rem(margin-top, 35px);
        position: relative;
        &--item{
            display: flex;
            align-items: center;
            flex: 1;
            background: $color-black;
            @include rem(font-size, 32px);
            font-weight: 500;
            @include rem(padding, 5px 0);
            &:hover{
                background: $color-grey-1;
                &::after{
                    transform: rotate(135deg);
                }
                &::before{
                    transform: rotate(135deg)
                }
                .rr-sub-category__list{
                    transform: translateX(100%);
                }
            }
            &:nth-child(7){
                background: $color-pink;
            }
            &::after,
            &::before{
                content: "";
                @include rem(width, 12px);
                @include rem(height, 3px);
                @include rem(right, 20px);
                background: $color-white;
                position: absolute; 
            }
            &::before,
            &::after{
                transition: all .5s ease-in-out;
            }
            &::after{
                transform: rotate(90deg);
            }
            .rr-category-name{
                @include rem(padding-left, 35px);
                font-family: $font-bebas;
            }
        }
    }
    &__users{
        height: 30%;
        background: $color-black-2;
        font-family: $font-sans;
        @include rem(font-size, 14px);
        font-weight: bold;
        display: flex; 
        align-items: center;
        &--item{
            display: flex;
            flex-direction: column;
            @include rem(padding-left, 35px);
            a{
                padding: 12px 0;
            }
            &:nth-child(2){
                @include rem(padding, 45px 0);
            }
        }
    }
}