.rr-menu-slide{
    height: 100vh;
    width: 30%;
    position: fixed;
    top: 0;
    left: -25px;
    z-index: 3;
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
    &.is--active{
        transform: translateX(0);
    }
}