.rr-menu-slide{
    height: 100vh;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transform: translateX(-200%);
    transition: all .3s ease-in-out;
    font-family: $font-mont;
    &.is--active{
        transform: translateX(0);
    }
}