.rr-minicart{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5017;
    @include rem(width, 375px);
    @extend %flex-spaced;
    height: 100vh;
    background: $color-white;
    flex-direction: column;
    transform: translateX(200%);
    transition: all .3s ease-in-out;
    &.is--active{
        transform: translateX(0)
    }
    &__top,
    &__bottom{
        width: 100%;
        @include rem(padding, 0 10px);
    }
    &__top{
        @include rem(height, 70px);
        background: $color-black;
        color: $color-white;
        @extend %flex-spaced;
        &--text{
            font-family: $font-bebas;
            @include rem(font-size, 32px);
            font-weight: bold;
        }
    }
    &-product{
        height: calc(100vh - 76px - 184px);
        width: 100%;
        display: none;
        overflow-y: auto;
        &.is--active{
            display: block;
        }
        &__wrapper{
            display: flex;
            justify-content: space-between;
        }
        &__qty{
            width: 30px;
            display: flex;
            &--less{
                display: block;
                padding: 5px;
                background: red;
            }
            &--val{
                width: 20px;
                text-align: center;
            }
            &--more{
                display: block;
                padding: 5px;
                background: green;
            }
        }
        &__remove{
            padding: 20px;
            display: block;
            background: black;
            cursor: pointer;
        }
    }
    &__bottom{
        border-top: 1px solid $color-grey-1;
        @include rem(height, 140px);
        @include rem(padding, 17px 14px 18px 12px);
        @extend %flex-spaced;
        flex-wrap: wrap;
        align-items: center;
        display: none;
        &.is--active{
            display: flex;
        }
        &--text,
        &--price{
            @include rem(font-size, 14px);
            @include font-weight(bold);
            text-transform: uppercase;
            color: $color-black-2;
        }
        &--price{
            @include rem(font-size, 20px);
        }
        &--btn{
            width: 100%;
            @include rem(height, 75px);
            @include rem(font-size, 32px);
            background: $color-black;
            color: $color-white;
            font-family: $font-bebas;
        }
    }
    &__empy{
        width: 100%;
        height: 100%;
        @extend %flex-centered;
        display: none;
        &.is--active{
            display: flex;
        }
    }
}