.rr-overlay{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    @include smooth-shown;
    cursor: pointer;
    @include breakpoint('sm'){
        height: 110vh;
    }
}