.rr-header__search{
    flex-basis: 387px;
    
    fieldset{
        border-bottom: 1px solid;
        
    }
}
ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
display: none !important;
}