.rr-sub-category__list{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    @include rem(width, 290px);
    @include rem(font-size, 16px);
    text-transform: initial;
    transform: translateX(-100%);
    background: $color-white;
    color:$color-black;
    transition: all .3s ease-in-out;
    font-family: $font-mont;
    will-change: transform;
    @include breakpoint('sm'){
        @include rem(top, 6px);
        z-index: 2;
        width: 100%;
        height: 102vh;
        &.is--active--mobile{
            transform: translateX(0);
        }
    }
    &.is--active{
        transform: translateX(100%);
    }
    &--item{
        @include rem(height, 50px);
        @include rem(font-size, 16px);
        @include rem(padding-left, 30px);
        font-weight: 400;
        display: flex;
        align-items: center;
        white-space: nowrap;
        &:first-of-type,
        &:last-of-type{
            @include rem(font-size, 18px);
            font-family: $font-sans;
            font-weight: bold;
        }
        &:first-of-type{
            background: $color-grey-light-4;
        }
        @include breakpoint('sm'){
            height: 52px;
            &:nth-child(2){
                position: relative;
                font-weight: bold;
                border-bottom: 1px solid $color-grey-light-5;
                padding-left: 30px;
                @include rem(font-size, 18px);
                &::before{
                    @include arrow-generate('left', 10px , 1.5px solid $color-black);
                    @include rem(left, -3px);
                    position: relative;
                }
            }
        }
    }
}