.rr-sub-category__list{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    @include rem(width, 100%);
    @include rem(font-size, 16px);
    @include rem(padding, 20px);
    text-transform: initial;
    transform: translateX(-100%);
    background: $color-white;
    color:$color-black-2;
    transition: all .5s ease-in-out;
    font-family: $font-sans;
    // @include rem(box-shadow, 0 8px 16px 1px $color-white);
    &.is--active{
        transform: translateX(100%);
    }
    &--item{
        @include rem(padding, 10px 0);
        &:first-of-type,
        &:last-of-type{
            @include rem(font-size, 18px);
            font-weight: bold;
        }
        &:first-of-type{
            @include rem(margin-bottom, 20px);
        }
        &:last-of-type{
            @include rem(margin-top, 20px);
        }
    }
}