.rr-sub-category__list{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    @include rem(width, 290px);
    @include rem(font-size, 16px);
    text-transform: initial;
    transform: translateX(-100%);
    background: $color-white;
    color:$color-black;
    transition: all .3s ease-in-out;
    font-family: $font-mont;
    will-change: transform;
    @include breakpoint('sm'){
        z-index: 2;
        width: 100%;
        top: 1%;
        height: 103vh;
        &.is--active--mobile{
            transform: translateX(0);
        }
    }
    &.is--active{
        transform: translateX(100%);
    }
    &--item{
        @include rem(height, 50px);
        @include rem(font-size, 16px);
        @include rem(padding-left, 30px);
        font-weight: 400;
        display: flex;
        align-items: center;
        white-space: nowrap;
        &:first-of-type,
        &:last-of-type{
            @include rem(font-size, 18px);
            font-family: $font-sans;
            font-weight: bold;
        }
        &:first-of-type{
            background: $color-grey-light-4;
        }
        @include breakpoint('sm'){
            .rr-mobile{
                &:first-of-type{
                    background: $color-grey-3;
                }
            }
        }
    }
}