.rr-sub-category__list{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    @include rem(width, 290px);
    @include rem(font-size, 16px);
    text-transform: initial;
    transform: translateX(-100%);
    background: $color-white;
    color:$color-black;
    transition: all .5s ease-in-out;
    font-family: $font-mont;
    @include breakpoint('sm'){
        position: relative;
        transform: translateX(0);
        height: 0;
        max-height: 0px;
        margin-top: 0;
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease-in-out;
        &.is--active--mobile{
            max-height: 50em;
            opacity: 1;
            height: 100%;
            visibility: visible;
        }
        }
    &.is--active{
        transform: translateX(100%);
    }
    &--item{
        @include rem(height, 50px);
        @include rem(font-size, 16px);
        @include rem(padding-left, 30px);
        font-weight: 400;
        display: flex;
        align-items: center;
        &:first-of-type,
        &:last-of-type{
            @include rem(font-size, 18px);
            font-family: $font-sans;
            font-weight: bold;
        }
        &:first-of-type{
            background: $color-grey-light-4;
        }
    }
}