.rr-sub-category__list{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    @include rem(width, 100%);
    transform: translateX(-100%);
    background: $color-white;
    color: $color-black;
    transition: all .3s ease-in-out;
    // @include rem(box-shadow, 0 8px 16px 1px $color-white);
    &.is--active{
        transform: translateX(100%);
    }
}