.rr-header__top{
    @extend %flex-spaced;
    @include rem(height, 80px);
    transition: all .3s ease-in-out;
    &--logo{
        @extend %flex-centered;
    }
    &__group,
    &__user{
        flex-basis: 240px;
    }
    &__group{
        &--accessibility{
            @include rem(padding-right, 55px);
        }
        &--accessibility,
        &--helper{
            position: relative;
            cursor: pointer;
            &::after{
                @include arrow-generate('down', 10px , 3px solid $color-white);
                transform: rotate(135deg) translate(-6px, -4px);
            }
        }
    }
    &__user{
        display: flex;
        justify-content: flex-end;
        &--account,
        &--minicart{
            @include rem(padding-left, 35px);
        }
        &--search{
            transition: transform .3s ease-in-out;
            transform: scale(0);
        }
        &--minicart{
            cursor: pointer;
            position: relative;
            span{
                position: absolute;
                @include rem(top, 6px);
                @include rem(right, 2.5px);
                @include rem(font-size, 12px);
                @include breakpoint('sm'){
                    top: 6px;
                    right: 4px;
                }
            }
        }
   }
}


