
- var $templateName = '';
- var $storeNameUpper = 'Vult';
- var $templateClass = 'brand';
block vars

doctype
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:vtex='http://www.vtex.com.br/2009/vtex-common', xmlns:vtex.cmc='http://www.vtex.com.br/2009/vtex-commerce', lang='pt-br')
    head
        //- SEO
        vtex:metaTags/

        //- Styles
        block styles
        //- Theme Styles/Scripts
        vtex:template(id=`${$storeNameUpper}Common-Styles`)/

        block richSnippetsHead

    body
        vtex:template(id=`VultCommon-Header`)/

        //- Main Content
        main(role='main', class=`rr-${$templateClass}__main`)
            block content

        //- Footer
        block footer
        vtex:template(id=`VultCommon-Footer`)/

        //- Scripts
        block scripts
        vtex:template(id=`${$storeNameUpper}Common-Scripts`)/
