extends ../_layouts/VultCommon-base.pug

//- Template variables
block vars
    - var $templateName = 'Category';
    - var $storeName = 'VultCommon';
    - var $templateClass = "category"
//- Page styles
block append styles
    link(rel='stylesheet', href=`/arquivos/${$storeName}-${$templateName}.css`, media='all')/

//- Main Content
block content
    include ../_partials/category/_main.pug

block append scripts
    script(type='text/javascript', src=`/arquivos/${$storeName}-${$templateName}.js`) 