.rr-category__main{
    max-width: 94%;
    margin: 0 auto;
    padding-top: 10%;
    @include breakpoint('sm'){
        padding-top: 30%;
    }
}
.rr-category{
    &__search-result{
        width: 80%;
        @include breakpoint('sm'){
            width: 95%;
        }
    }
    &__wrapper{
        display: flex;
        width: 100%;
        justify-content: space-between;
        @include breakpoint('sm'){
            justify-content: center;
        }
        .main {
            .searchResultsTime{
                display: none;
            }    
            .pager.top{
                display: none;
            }   
            .sub{
                &:last-of-type{
                    display: none;
                }
                .filterBy,
                .compare{
                    display: none;
                }
                .orderBy {
                    label{
                        display: none;
                    }
                }
                .resultado-busca-filtro{
                    display: flex;
                    flex-direction: row-reverse;
                    @include breakpoint('sm'){
                        margin-top: 45px;
                    }
                    fieldset{
                        position: relative;
                        &::before{
                            position: absolute;
                            @include arrow-generate('down', 10px , 1.5px solid $color-black);
                            @include rem(top, 13px);
                            @include rem(right, 10px);
                        }
                    }
                    select{
                        border: 1px solid #E6E0E0;
                        height: 40px;
                        display: flex;
                        -webkit-appearance: none;
                        align-items: center;
                        max-width: 100%;
                        padding-left: 10px;
                        letter-spacing: 1px;
                        font-family: $font-sans;
                        font-weight: bold;
                        text-transform: uppercase;
                      
                    }
                }
            }
        }
        .resultItemsWrapper{
            ul{
                display: flex;
                flex-wrap: wrap;
                >li {
                    padding-left: 20px;
                    margin-top: 85px;
                    max-width: 250px;
                    width: 100%;
                    @include breakpoint('sm'){
                        flex: 1 1 126px;
                        margin-top: 85px;
                        padding: 5px;
                    }
                }
            }
            ul.pages{
                padding: 25px 0;
                margin-top: 20px;
                justify-content: center;
                flex-direction: row;
                >li{
                    padding:  0 5px;
                    margin: 0 10px;
                    flex: unset;
                }
                .last ,
                .next,
                .first,
                .previous {
                    display: none;
                }
                .pgCurrent{
                    border-bottom: 1px solid black;
                    width: 20px;
                }
                .page-number{
                    width: 20px;
                }
            }
        }
    }
    &__breadcrumb{
        font-size: 14px;
        color: $color-purple;
        margin-bottom: 20px;
        display: none;
    }
}