.rr-copyright{
    background: $color-grey-black;
    @extend %flex-spaced;
    &__text{
        font-family: $font-lato;
        @include rem(font-size, 12px);
        text-transform: uppercase;
        font-weight: 500;
        color: $color-grey-3;
        letter-spacing: .1em;
        max-width: 500px;
    }
}