@import "./config/settings/config-bases.scss";
@import "./layout/product/product-base";  

.rr-product__image{
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
}
.rr-product-center{
    position: relative;
}
.rr-product__image-zoom{
    display: none !important;
}