@import "./config/settings/config-bases.scss";
@import "./layout/home/home-bases.scss";

// .slick-track{
//     > a {
//         display: none !important;
//         width: 0 !important;
//     }
// }
