div(class="rr-minicart")
    div(class="rr-minicart__top")
        p(class="rr-minicart__top--text") Minha Sacola
        span(class="rr-minicart__top--close js--close") x
    div(class="rr-minicart-product js--products")
    div(class="rr-minicart__bottom")
        p(class="rr-minicart__bottom--text") Subtotal
        span(class="rr-minicart__bottom--price js--minicart--price")
        button(class="rr-minicart-keeping-buying js--close") Continuar Comprando
        button(class="rr-minicart__bottom--btn")
            a(href="/checkout") Finalizar compra
    div(class="rr-minicart__empy")
        span(class="rr-minicart__empy--text") Seu carrinho está vazio
