div(class="rr-modal-overlay")
    div(class="rr-modal-overlay__container")
        div(class="rr-modal-overlay__logo")
            img(src="/arquivos/vultlogojeito.png", alt="Vult do seu Jeito")
        form(class="rr-modal-overlay__form js--form--city")
            span(class="rr-modal-overlay__form--question") Selecione seu estado:
            select(name="cidade" class="js--form--option" required )
                option(value="AC") Acre
                option(value="AL") Alagoas
                option(value="AM") Amazonas
                option(value="AP") Amapá
                option(value="BA") Bahia
                option(value="CE") Ceará
                option(value="DF") Distrito Federal
                option(value="ES") Espírito Santo
                option(value="GO") Goiás 
                option(value="MA") Minas Gerais
                option(value="MG") Mato Grosso do Sul
                option(value="MS") Mato Grosso
                option(value="PA") Pará
                option(value="PB") Paraíba 
                option(value="PE") Pernambuco
                option(value="PI") Piauí
                option(value="PR") Paraná
                option(value="RJ") Rio de Janeiro
                option(value="RN") Rio Grande do Norte
                option(value="RO") Rondônia
                option(value="RR") Roraima
                option(value="RS") Rio Grande do Sul
                option(value="SC") Santa Catarina
                option(value="SE") Sergipe
                option(value="SP" selected="true") São Paulo
                option(value="TO") Tocantis
            input(type="submit" value="Enviar" class="rr-modal-overlay__form--send")
            p(class="rr-modal-overlay__form--text") Atenção! Os preços dos produtos podem 
                br/ Variar de acordo com a região escolhida
    //- div(class="rr-modal-city__geolocation")
      //- span(class="js--city--geolocation") Usar minha localização atual 

