div(class="rr-news")
    span(class="rr-news__title") Bem-vindo(a)!
    p(class="rr-news__text") Inscreva-se para receber todas as novidades    
    small(class="rr-news__text-small") Todos os lançamentos, ofertas exclusivas e eventos direto na sua caixa de
    form(class="rr-news__form js--popup--news")
        input(type="email" placeholder="Digite seu e-mail aqui" required)
        button(type="submit") Enviar
        span(class="rr-news__not js--close") Agora não
    span(class="rr-news-close js--close") X 