div(class="rr-minicart")
    div(class="rr-minicart__top")
        p(class="rr-minicart__top--text") Minha Sacola
        span(class="rr-minicart__top--close js--close") x
    div(class="rr-minicart__shipping")
        div(class="rr-minicart__shipping--porcetage")
            div(class="rr-minicart__shipping--progress js--minicart--progress")
        p(class="rr-minicart__shipping--text")  
            span(class="js--text--shipping") 
            b Frete grátis
    div(class="rr-minicart-product js--products")
    div(class="rr-minicart__bottom")
        p(class="rr-minicart__bottom--text") Subtotal
        span(class="rr-minicart__bottom--price js--minicart--price")
        button(class="rr-minicart__bottom--btn")
            a(href="/checkout") Finalizar compra
    div(class="rr-minicart__empy")
        p(class='rr-minicart__empy--text') Não há produtos em sua sacola.
        div(class="rr-minicart__bottom")
        button(class="rr-minicart__bottom--btn")
            a(href="/pele") Comprar Agora
