
@keyframes placeloader-shimmer {
    0% { background-position: -468px 0; }
    100% { background-position: 468px 0; }
}
/**
 * Edge support
 */
img[data-src],
img[data-srcset] {
    display: block;
    min-height: 1px;
}
.has--placeloader {
    background: linear-gradient(
            to right,
            #f1f1f1 8%,
            #ededed 18%,
            #f1f1f1 33%
        );
    background-color: hsl(0,0%,89%);
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeloader-shimmer;
    transition: animation .3s ease-in-out;
}
