svg(xmlns='http://www.w3.org/2000/svg', width='34', height='34', viewBox='0 0 34 34')
  g#Grupo_3128(data-name='Grupo 3128', transform='translate(-7 -157.411)')
    g#Grupo_3127(data-name='Grupo 3127')
      g#Grupo_3126(data-name='Grupo 3126')
        g#Grupo_3066(data-name='Grupo 3066', transform='translate(-3161 389.411)')
          g#Elipse_40(data-name='Elipse 40', transform='translate(3168 -232)', fill='none', stroke='#fff', stroke-width='2')
            circle(cx='17', cy='17', r='17', stroke='none')
            circle(cx='17', cy='17', r='16', fill='none')
          g#Grupo_3065(data-name='Grupo 3065', transform='translate(3177.608 -220.174)')
            path#Caminho_1325(data-name='Caminho 1325', d='M3801.191-379.455l4.741,5.116-4.741,5.117', transform='translate(-3791.66 379.455)', fill='none', stroke='#fff', stroke-width='2')
            path#Caminho_1326(data-name='Caminho 1326', d='M4356.441,89.548h-14.335', transform='translate(-4342.105 -84.374)', fill='none', stroke='#fff', stroke-width='2')
