svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 113.4 113.4', style='enable-background:new 0 0 113.4 113.4;', xml:space='preserve')
    g
        path(d='M56.7,10.7c-9.9,0-18,8.1-18,18h-18v72h72v-72h-18C74.7,18.8,66.6,10.7,56.7,10.7z M56.7,19.7c5,0,9,4,9,9h-18\
        C47.7,23.7,51.7,19.7,56.7,19.7z M83.7,37.7v54h-54v-54H83.7z')
