.rr-container{
    @include rem(max-width, 1212px);
    margin: 0 auto;
    &__section{
        @include rem(margin,80px 0);
        @include breakpoint('sm'){
            @include rem(margin,50px 0);
        }
    }
    &__wrapper{
        @extend %flex-spaced;
        &.rr-banners{
            .vve-image__container{
                @include breakpoint('sm'){
                    padding: 0 10px;
                }
                img{
                    &.has--placeloader{
                        padding: 74% 0%;
                    }
                }
            }
        }
        > .vve-image__container{
            img{
                &.has--placeloader{
                    padding: 17%;
                }
            }
        }
    }
    @include breakpoint('sm'){
        .rr-banners{
            @include rem(margin-left, 47px);
            img{
                @include rem(width, 224px);
            }
        }
    }
    &__title{
        @include rem(font-size, 64px);
        @include rem(letter-spacing, 4px);
        @include rem(margin-bottom, 30px );
        font-weight: bold;
        font-family: $font-bebas;
        text-transform: uppercase;
        color: $color-black-2;
        text-align: center;
        @include breakpoint('sm'){
            @include rem(font-size, 40px);
        }
    }
    &__banner-shelf{
        display: flex;
        @include rem(margin-bottom, 90px);
        flex-wrap: wrap;
        &--left,
        &--right{
            @include rem(flex, 1 1 300px);
        }
        &--left{
            img{
                &.has--placeloader{
                    padding: 40% 0;
                }
            }
        }
        &--right{
            @include rem(width, 500px);
            @include breakpoint('sm'){
                width: 100%;
            }
        }
    }
}
