.rr-container{
    max-width: 1212px;
    margin: 0 auto;
   
    &__section{
        @include rem(margin,80px 0);
        @include breakpoint('sm'){
            @include rem(margin,50px 0);
        }
    }
    &__wrapper{
        @extend %flex-spaced;
        // @include rem(margin-bottom, 90px);
    }
    @include breakpoint('sm'){
        .rr-banners{
            margin-left: 47px;
            img{
                width: 224px
            }
        }
    }
    &__title{
        @include rem(font-size, 64px);
        @include rem(letter-spacing, 4px);
        @include rem(margin-bottom, 30px );
        font-weight: bold;
        font-family: $font-bebas;
        text-transform: uppercase;
        color: $color-black-2;
        text-align: center;
        @include breakpoint('sm'){
            font-size: 40px;
        }
    }
    &__banner-shelf{
        display: flex;
        @include rem(margin-bottom, 90px);
        flex-wrap: wrap;
        &--left,
        &--right{
            flex: 1 1 300px;
        }
        &--right{
            width: 500px;
            @include breakpoint('sm'){
                width: 100%;
            }
        }
    }
}