.rr-home__main{
    @include rem (padding-top, 145px);
    width: 100%;
    max-width: 1336px;
    margin: 0 auto;
    position: relative;
    @include breakpoint('sm'){
        padding-top: 65px;
    }
}