div(class="rr-product-fix")
    h1(class="rr-product-fix__name js--product--name")
    div(class="rr-product-fix__container")
        div(class="rr-product-fix__price")
            del(class="rr-product__price--old-price js--old-price")
            span(Class="rr-product__price--best-price js--best-price")
        div(class="rr-product-fix__buy")
            button(class="rr-product__buy--btn btn-scroll js--buy") Comprar agora
            button(class="rr-product-fix__buy--out-stock") Avise-me quando chegar

