section(class="rr-product-main")
    div(class="rr-product-bradcrumb")
        <vtex.cmc:breadCrumb/>
    div(class="rr-product")   
        div(class="rr-product-left")
            div(class="rr-product-left__content")
                h1(class="rr-product__name js--product--name")
                    <vtex.cmc:productName/>
                span(class="rr-product__code js--product--code")
                div(class="rr-product__rating" )
                    div(id="yv-review-quickreview")
                    a(href="#") Gostou? Avalie o produto
            div(class="rr-product-description")
                span(class="rr-product-description__title") Descrição
                p(class="rr-product-description__text js--product-description")
                a(href="#" class="js--see--more") Saiba mais...
            div(class="rr-product__all-character")
                span(class="rr-product__all-character--text js--see--more") ver todas as características
        div(class="rr-product-center js--product--image has--placeloader rr-slick-banner")
        div(class="rr-mobile rr-thumb-wrapper js--thumb--mobile")
            div(class="rr-thumb-wrapper__first") 
                p(class="rr-thumb-wrapper__first--text") Ver mais
                    br/ 
                    span(class="js--text--colors")
                include ../svgs/_arrow-thumb.pug
            div(class="rr-thumb-wrapper__colors js--thumb--colors")
        div(class="rr-product-right")
            div(class="rr-product__thumb") 
                p(class="rr-product__thumb--color") Cor: #[span(class="js--color")]
                div(class="rr-product__thumb-container")
            div(class="rr-product__price")
                del(class="rr-product__price--old-price js--old-price")
                span(Class="rr-product__price--best-price js--best-price")
            div(class="rr-product__buy")
                button(class="rr-product__buy--btn js--buy") Comprar agora
                span(class="rr-product__buy--text") Frete grátis + brinde acima de R$ 100
                a(href="") Saiba mais
            div(class="rr-product__out-stock js--out--stock")
                span(class="rr-product__out-stock--title") Ops! Esgotou!
                p(class="rr-product__out-stock--text") Te avisaremos quando o seu produto chegar.
                form(class="rr-product__out-stock--form js--form--stock")
                    input(type="email" required="required" placeholder="digite seu email...")/
                    button(type="submit")
        
