section(class="rr-product-specification" style="display:none")
    ul(class="rr-product-specification__names js--specification--names")
        li(class="rr-product-specification__names--item js--tab--action is--active" data-tab="description") Descrição
        li(class="rr-product-specification__names--item js--tab--action" data-tab="use") Modo de usar
        li(class="rr-product-specification__names--item js--tab--action" data-tab="composition") Composição
        //- li(class="rr-product-specification__names--item js--tab--action" data-tab="measures") Medidas
    div(class="rr-product-specification__wrapper")
        div(class="rr-product-specification__content js--tab--action is--active" data-tab="description")
            p(class="rr-product-specification__content--text js--description")
        div(class="rr-product-specification__content js--tab--action" data-tab="use")
            p(class="rr-product-specification__content--text js--how--use")
        div(class="rr-product-specification__content js--tab--action" data-tab="composition")
            p(class="rr-product-specification__content--text js--composition")
        //- div(class="rr-product-specification__content js--tab--action" data-tab="measures")
            p(class="rr-product-specification__content--text js--measures") 
    div(class="rr-product-specification__video")
