section(class="rr-product-buy-together js--buy--together")
    div(class="rr-product-buy-together__left")
        h3(class="rr-product-title") Compre #[br/] junto
    div(class="rr-product-buy-together__right")
        div(class="rr-product-buy-together__items")
        div(class="rr-product-buy-together__info")
            div(class="rr-product-buy-together__price")
                del(class="rr-product-buy-together__price--old")
                span(class="rr-product-buy-together__price--best")
            button(class="rr-product-buy-together__btn js--btn--together") Compra os 2 Itens