section(class="rr-product-rating" style="display:none")
    h3(class="rr-product-title") Avaliações
    div(class="rr-product-rating__sub-title")
        p(class="js--rating is--active" data-tab="evaluation") Avaliações do consumidoras
    div(class="rr-product-rating__wrapper")
        div(class="rr-product-rating__evaluation is--active" data-tab="evaluation")
            div(id="yv-reviews")
        //- div(class="rr-product-rating__questions" data-tab="questions")
        //-     div(class="yv-qa")
        