section(class="rr-product")
    div(class="rr-product-bradcrumb")
        <vtex.cmc:breadCrumb/>
    div(class="rr-product__wrapper")   
        div(class="rr-product-left")
            div(class="rr-product-left__content")
                h1(class="rr-product__name")
                    <vtex.cmc:productName/>
                span(class="rr-product__code js--product--code")
                div(class="rr-product__rating" )
                    div(id="yv-review-quickreview")
                    a(href="#") Gostou? Avalie o produto
            div(class="rr-product-left__content")
                span(class="rr-product__description-title") Descrição
                p(class="rr-product__description js--product-description")
            div(class="rr-product-left__content")
                span(class="rr-product__all-character") ver todas as características

        div(class="rr-product-center")
            ul(class="rr-product__image js--product--image has--placeloader")
            ul(class="rr-product__image-zoom js--zoom")
        div(class="rr-product-right")
            div(class="rr-product__thumb")
            div(class="rr-product__price")
                del(class="rr-product__price--old-price js--old-price")
                span(Class="rr-product__price--best-price js--best-price")
            div(class="rr-product__buy")
                button(class="rr-product__buy--btn js--buy") Comprar agora
                span(class="rr-product__buy--text") Frete grátis + brinde acima de R$ 100
                a(href="") Saiba mais
        
