section(class="rr-product-collection")
    h3(class="rr-product-title") Últimos vistos
    div(class="rr-shelf rr-slick-style js--slick--shelf")
        <vtex:contentPlaceHolder id="Ultimos-vistos" />
