.rr-shelf-two{
    @include breakpoint('sm'){
        @include rem(padding, 30px);
        width: 100%;
    }
    h2{
        display: none;        
    }
}
.rr-shelf{
    width: 100%;
    @include breakpoint('sm'){
        @include rem(padding, 30px);
    }
    h2{
        display: none;        
    }
    &__item{
        // @include rem(margin, 0 20px);
        // @include rem(height, 480px);
        @include breakpoint('sm'){
            max-width: 162px;
        }
        &:hover{
            .rr-shelf__buy--btn{
                background: $color-pink;
            }
        }
    }
    &__container{
        @extend %flex-column;
        align-items: center;
    }
    &__placeloader{
        @include breakpoint('lg'){
            min-height: 288px;
        }
        > .has--placeloader{
            width: 288px;
            height: 288px;
        }
    }
    &__content{
        @extend %flex-column;
        @include rem(height, 115px);
        @include rem(margin-top, 20px);
        font-family: $font-sans;
        color: $color-black-2;
        justify-content: space-around;
        width: 100%;
    }
    &__title{
        @include rem(font-size, 15px);
        text-transform: uppercase;
        text-align: center;
        @include breakpoint('sm'){
            @include rem(font-size, 12px);
        }
    }
  
    &__price-container{
        @extend %flex-column;
    }
    &__price-terrt{
        @extend %flex-centered;
    }
    &__old-price{
        @include rem(font-size, 14px);
        @include rem(margin-right, 20px);
    }
    &__best-price{
        @include rem(font-size, 20px);
        font-weight: bold;
        text-align: center;
    }

    &__installments{
        @include rem(font-size, 14px);
        font-weight: 500;
        text-align: center;
        @include breakpoint('sm'){
            font-size: 12px;
        }
    }
    &__buy{
        @include rem(margin-top, 10px);
        &--btn{
            width: 100%;
            @include rem(padding, 14px);
            @include rem(font-size, 16px);
            @include rem(letter-spacing, 2px);
            background: $color-black;
            color: $color-white;
            text-transform: uppercase;
            font-weight: bold;
            transition: all .3s ease-in-out;
        }
    }
}