section(class="rr-category")
    div(class="rr-category__breadcrumb")
       <vtex.cmc:breadCrumb />
    article(class="rr-category__wrapper")
        aside(class="rr-category__search")
            <vtex.cmc:searchNavigator />
        div(class="rr-category__search-result")
            <vtex.cmc:searchResult layout="5a4393b2-7263-4049-ba97-b16eb414c1a8" itemCount="12"  columnCount="3" />

