section(class="rr-home__section rr-slick-banner")
    div(class="rr-home__banner rr-desktop " )
        <vtex:contentPlaceHolder id="Main-Banner" />
    div(class="rr-home__banner rr-mobile")
        <vtex:contentPlaceHolder id="Main-Banner-Mobile" />
